src/main/mule/lambda-eapi-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:update-url-papi="http://www.mulesoft.org/schema/mule/update-url-papi"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/update-url-papi http://www.mulesoft.org/schema/mule/update-url-papi/current/mule-update-url-papi.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="lambda-eapi-implementationFlow" doc:id="8a722c25-0060-49f2-9df7-a46a8597a270" >
		<logger level="INFO" doc:name="Start Logger" doc:id="a4a35bb4-09c3-40c4-a331-0643fca948a5" message="#[payload]"/>
		<jms:publish doc:name="Publish" doc:id="fcb6cee2-7b4b-4d13-9fd1-26c30b6ba716" destination="${jms.destination}" config-ref="JMS_Config"/>
		<ee:transform doc:name="Publish To Que" doc:id="06d0f5e9-b106-4ac7-8231-1612f246cacf" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
{
	"message": "Published to Que"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ebbcc537-2813-4383-b801-e44415d36a69" type="JMS:DESTINATION_NOT_FOUND">
				<ee:transform doc:name="Error Message" doc:id="eeffa1e1-2159-4edd-98d2-d4f6a0f2bb28" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
