src/main/mule/lambda-eapi-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:update-url-papi="http://www.mulesoft.org/schema/mule/update-url-papi" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/update-url-papi http://www.mulesoft.org/schema/mule/update-url-papi/current/mule-update-url-papi.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="8d1691be-cf83-47c5-95be-1bb6f6193e68" >
		<vm:queues >
			<vm:queue queueName="lambdaQue" queueType="PERSISTENT" />
		</vm:queues>
	</vm:config>
	<update-url-papi:config name="Update_url_papi_Config" doc:name="Update-url-papi Config" doc:id="b782a960-77a9-442e-97aa-e49c1516ef0f" property_host="localhost" property_port="8085" property_protocol="HTTP" property_username="shani" property_password="shani" property_basePath="/api/" property_responseTimeout="300000"/>
	<flow name="lambda-eapi-implementationFlow" doc:id="8a722c25-0060-49f2-9df7-a46a8597a270" >
		<logger level="INFO" doc:name="Logger" doc:id="a4a35bb4-09c3-40c4-a331-0643fca948a5" message="#[payload]"/>
		<vm:publish doc:name="Publish" doc:id="9e5f0ce5-47cf-4e55-8c90-042db97e1fcf" config-ref="VM_Config" queueName="lambdaQue"/>
		<ee:transform doc:name="Transform Message" doc:id="06d0f5e9-b106-4ac7-8231-1612f246cacf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Published to Que"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="lambda-eapi-implementationFlow1" doc:id="47977156-ce00-44c8-869a-1ff4c52469b4" >
		<vm:listener doc:name="Listener" doc:id="063077b8-f6e7-47e6-9866-f550440368b0" config-ref="VM_Config" queueName="lambdaQue"/>
		<ee:transform doc:name="Transform Message" doc:id="d64215cb-702d-4531-a5f2-2eb2538042b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<update-url-papi:updateurl doc:name="UpdateURL" doc:id="de2c5e51-efd5-4797-933c-48589229ba98" x-correlation-id="DCH" config-ref="Update_url_papi_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="0c37b500-73df-423f-b60e-b50321d601bc" message="#[payload]"/>
	</flow>
</mule>
